* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: url("img/image.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    color: white;
    font-family: Inter;
    width: 70vw;
    padding: 80px 110px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

h1 {
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 40px;
    text-align: center;
    font-size: 64px;

}

.container > p {
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 65px;
}

button {
    height: 64px;
    width: 191px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    border-radius: 32px;
    gap: 8px;
    border: none;
}

.container > div {
    display: flex;
    justify-content: center;
    height: 64px;
    gap: 56px;
}

.watch-button p {
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    margin-left: 16px;
    color: #FFF;
    text-align: center;
}

.watch-button {
    width: 201px;
    display: flex;
    height: 64px;
    align-items: center;
}