@media screen and (max-width: 768px) and (min-width: 481px) {
    .container {
        width: 90vw;
    }

    h1 {
        font-size: 35px;
    }

    .container > p {
        font-size: 20px;
    }

    button {
        width: 125px;
    }

}